@font-face {
  font-family: myFirstFont;
  src: url('./SourceSansPro-Regular.ttf');
}
*{
  margin: 0 !important;
  font-family: myFirstFont;
}
*::placeholder{
  color: rgb(78, 78, 78) !important;
}
*::selection{
  background-color:#858585;
  color: white;
}
input{
  color: black !important;
}
input:disabled {
  background-color: white !important;
  color: gray;
}
input:disabled::placeholder{
  color: gray !important;
}
.note{
  padding: 8px 8px !important;
  background-color:white;
  letter-spacing: 0.8px;
}
.note:hover{
  background-color:  #ececec !important;
  color:black !important;
}
.updatedTr{
  color: #808080;
}
.even{
  background-color:rgb(248, 248, 248);
}
.ql-toolbar.ql-snow,.ql-editor.ql-blank,.ql-container.ql-snow { 
  border: none !important;
  font-size:15px !important;
}
.ql-header, .ql-picker{
  display: flex;
  align-items: center;
}
.ql-header>span>svg{
  margin-top:-0.5rem !important;
}
.ql-formats{
  margin:auto 8px !important;
}
.ql-picker-label{
  font-size: 0.9rem;
  letter-spacing:1.2px !important;
}
.ql-formats>button{
  margin:auto 0.2rem !important;
}
.ql-formats>button:hover{
  color: green !important;
}
.ql-syntax{
  background-color: #f6f6f6 !important;
  color: black !important;
  border: 1px solid lightgray;
}

/* .ql-toolbar .ql-stroke {
  fill: none !important;
  stroke: black !important;
}
.ql-toolbar .ql-fill {
  fill: black !important;
  stroke: none !important;
}
.ql-toolbar .ql-stroke:hover{
  fill: green !important;
  stroke: none !important;
}
.ql-toolbar .ql-fill:hover{
  fill: green !important;
  stroke: none !important;
}
.ql-toolbar .ql-picker {
  color: black !important;
} */

.ql-picker-options{
  box-shadow: 0 0 0 2px rgba(150, 159, 168, 0.2) !important;
  border: none !important;
}
.ql-picker-item{
  letter-spacing:1.1px !important;
}
.ql-picker-item:hover, .ql-selected:hover{
  color: #8a8a8a !important;
}
.sidebar{
  height:100vh !important;
}
li{
  line-height: 23px !important;
  letter-spacing: 1.5px !important;
  font-size: 18px !important;
}
.ql-editor>p  {
  line-height: 23px !important;
  letter-spacing: 0.8px !important;
  font-size: 16px !important;
}
.ql-toolbar.ql-snow{
  border-bottom:1px solid rgb(235, 235, 235) !important;
}
.newHome{
  display: flex !important;
  height: 100vh !important;
}
.tableAllNotes{
  border: none !important;
}
.tags{
  display: flex !important;
  align-items: center !important;
}
.searchBar{
  position:sticky !important;
  z-index: 101;
  background-color:white !important;
  padding: 0.6rem 0.1rem;
  border-bottom:1px solid rgb(235, 235, 235);
  /* box-shadow: 0px 1px 12px rgb(226, 226, 226) !important; */
}
.searchBarSidePanel{
  position:sticky !important;
  z-index: 101;
  background-color:rgb(248, 248, 248) !important;
  padding: 0.6rem 0.1rem;
  border-bottom:1px solid rgb(235, 235, 235);
}
.headingRight{
  /* box-shadow: 0px 1px 12px rgb(226, 226, 226) !important; */
  display: flex;
  border-bottom: 1px solid rgb(235, 235, 235);
  justify-content:space-between;
  align-items:center;
}
.newHomeWrapper{
  display: flex;
  overflow-y:scroll !important;
  height:100vh !important;
  width:100% !important;
}
.leftPanel{
  flex:0.26 !important;
  /* overflow-y: scroll; */
}
.rightPanel{
  overflow-y: scroll !important;
  flex:0.74 !important;
}
.tagsDivOne{
  flex:0.7;
  display: flex;
  justify-content:flex-start;
}
.tagsDivOne>span, .badge, .bg-primary{
  background-color:gray !important;
}
.buttonNote{
  width:99.5%;
}
.badge, .bg-primary, .tagsDivOne>span{
  border-radius: 2px !important;
  color: white !important;
  background-color: gray !important;
  font-weight: 650;
}
.tagsDivTwo{
  flex:0.3;
  border-left:1px solid rgb(235, 235, 235);
}
.quill{
  height:calc(100vh - 17.8rem) !important;
  border:0px !important;
}
.disabledform{
  color: gray !important;
}
.dropdown-toggle, .btn-secondary, .btn-secondary:hover{
  box-shadow: none !important;
  width: 100% !important;
  /* border:1px solid #b1b1b1 !important;
  background-color:white;
  color: black; */
  text-align: left !important;
}
.dropdown-menu{
  width: 100%;
  padding: 0;
}
.dropdown-item{
  margin: auto 2px;
  padding: 50px auto !important;
  letter-spacing: 1.1px;
}
.dropdown-item:hover{
  background-color:#ececec !important;
  color: black !important;
}
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d4dce5;
}
.noNotes{
  padding-top:100%;
  height: 100vh !important;
  text-align: center;
  letter-spacing:1.1px;
}
.leftpanelsearch{
  border:1px solid #e2e2e2 !important; 
}
@media screen and (max-width:600px){
  .formComponent, .alertMessage, .allNotes{
      width:90% !important;
  }
  .tags{
      flex-direction: column !important;
  }
  .headingRight{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding:0 1rem;
  }
  .headingRightOne{
      display:flex;
      align-items: center;
  }
  .headingRight-date{
      margin-left:1rem !important;
  }
  .tagsDivOne, .tagsDivTwo{
      flex:1 !important;
      width: 100% !important;
      border: none !important;
  }
  .tagsDivOne{
      margin-top:1rem !important;
  }
  .newHomeWrapper{
      flex-direction: column;
      overflow-y: scroll !important;
      height:100% !important;
      left:3.2rem;
  }
  .rightPanel{
      /* border-top:1px solid rgb(182, 182, 182); */
      margin-top:5rem;
      padding-bottom:1rem;
  }
  .leftPanel{
      height: 100vh !important;
  }
  .buttonNote{
      width:95%;
  }
  .searchBar{
      width:88%;
  }
  .tableAllNotes{
      width:100% !important;
      margin-bottom: 2rem !important;
  }
}